:root {
  --md-text-font-zh: "Noto Sans SC"; /* 设置中文字体 */
  --md-text-font-en: "Merriweather Sans"; /* 设置英文字体 */
  --md-code-font: "Red Hat Mono"; /* 设置代码字体 */
}

body {
  /* 设置通用字体，浏览器会回退 */
  font-family: var(--md-text-font-en), var(--md-text-font-zh), sans-serif;
}

/* 确保代码块使用指定的字体 */
code,
pre,
.md-typeset__scrollwrap code {
  font-family: var(--md-code-font), monospace;
}
